html, body {
  height: 100%;
}

#app {
  font-size: 16px;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: @primary-background-color;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.van-tabbar-item {
  font-weight: 500;

  .van-tabbar-item__icon {
    padding: 5px 0;
    border-radius: 16px;
    transition: all 0.2s ease-in-out;
  }

  &--active {
    .van-tabbar-item__icon {
      padding: 5px 20px;
      background-color: #CFE5CD;
    }
  }
}